# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
poetry.lock  # ← НЕ игнорим! (но .venv — да)
# pyproject.toml коммитим всегда

# Test & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db